@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white font-sans antialiased overflow-x-hidden selection:bg-white selection:text-black;
  }
}

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-black;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 rounded-full hover:bg-neutral-600;
}
